@use 'sass:map';
@use '@angular/material' as mat;
@import 'material';

/* Global Styles */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$color-config: mat.get-color-config($dark-theme);

@include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);

.app-dark-theme {
  @include mat.all-component-colors($dark-theme);

  $color-config: mat.get-color-config($dark-theme) !global;
}

.app-light-theme {
  // Uses default @include above

  $color-config: mat.get-color-config($light-theme) !global;
}

.page-indent {
  margin: 8px;
}

